.profile > p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: italic;
  font-size: 20px;
  margin-left: 60px;
  margin-bottom: 40px;
}
.profile > ul li {
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
  margin-left: 20px;
}
.profile > ul li > span {
  font-size: 14px;
}