.form {
  grid-area: text;
  margin: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-left: 330px;
}
.form .new_feed {
  border-radius: 15px;
  padding: 10px;
}
.form .btns {
  margin-left: 243px;
  margin-top: 5px;
}
.form .btns .btn {
  display: block;
  border-radius: 15px;
  background: #00c00a;
  color: #9effff;
  width: 95px;
  height: 25px;
}