.nav_bar{
    grid-area: n;
    
    text-align: center;
    font-size: 20px;
    li a{
      display: inline-block;
      margin-top: 35px;
      color: #E6E2CE;
    }
    li:last-child a {
      margin-top: 120px;
      margin-bottom: 70px;
    }
    
  
  }
  