.interlocutor {
  border-right: 1px solid #047779;
  border-radius: 15px;
  text-align: center;
}
.interlocutor:hover {
  background: #047779;
}
.interlocutor .selected {
  color: cyan;
}
.interlocutor a {
  display: inline-block;
  width: 100%;
  color: #aed31b;
  font-size: 20px;
  padding: 20px;
  border-radius: 15px;
  border-bottom: 1px solid #047779;
}
.interlocutor a:hover {
  color: #34C400;
}
.interlocutor a .img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}
.interlocutor a .name {
  display: inline-block;
  padding: 8px 0 0 5px;
}