.container {
  height: 300px;
  width: 300px;
  margin: 5px;
  border-radius: 20px;
  border: 2px double #0a6a7e;
  grid-area: f;
}
.container .friendLink {
  width: 250px;
  padding-bottom: 10px;
  padding-right: 20px;
  margin: 10px 0px 0px 20px;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #076d99;
  border-radius: 20px;
  text-align: right;
}
.container .all_friends {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 20px;
}
.container .all_friends .friends_row_one {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.container .all_friends .friends_row_one .img {
  height: 70px;
  width: 70px;
  border-radius: 35px;
}
.container .all_friends .friends_row_one .friends_name {
  font-size: 16px;
  margin-left: 15px;
  margin-top: 5px;
}
.container .all_friends .friends_row_two {
  display: flex;
  justify-content: space-evenly;
}
.container .all_friends .friends_row_two .img {
  height: 70px;
  width: 70px;
  border-radius: 35px;
}
.container .all_friends .friends_row_two .friends_name {
  font-size: 16px;
  margin-left: 15px;
  margin-top: 5px;
}