.posts {
  border-radius: 20px;
  border: 2px double #0a6a7e ;
  margin: 5px;
  grid-area: cf;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

  .form{
  
    grid-area: text;
    margin: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 330px;
    
    .new_feed {
      border-radius: 15px;
      padding: 10px;
     
     
    }  
    
    .btns {
      margin-left: 243px;
      margin-top: 5px;
      .btn {
        display: block;
        border-radius: 15px ;
        background: #00c00a;
        color: #9effff;
        width: 95px;
        height: 25px;
        
      }
    }
  }
} 