.Header{
  background-color: aqua;
  border: 1px double #33ff00;
}

.Content{
  margin-top: 2px;
  background-color: salmon;
  border: 1px double #33ff00;
}

ul li {
  list-style-type: decimal-leading-zero;
}