.post {
  margin-left: 220px;
  padding: 10px;
  color: #95fc95;
  border: 1px solid #056892;
  background: linear-gradient(45deg, #048189 0%, #0775b4 100%);
  height: 120px;
  width: 450px;
  border-radius: 15px;
  position: relative;
  margin-top: 30px;
}